<a href="https://colab.research.google.com/github/yashika1231/23FE10CSE00734/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
a = pd.read_csv("loan_data.csv")

In [45]:
b=pd.read_csv("test_data.csv")

In [6]:
a.dropna()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
124,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
152,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
161,100190,0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
255,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307358,456083,0,Cash loans,F,Y,Y,2,112500.0,361462.5,16051.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307359,456084,0,Cash loans,F,Y,Y,1,99000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307456,456195,0,Cash loans,F,Y,Y,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
b.dropna()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,4,656,60,19600.00,-10,5.49,7.89,1.8000,1,1,0,0,0
1,2,708,60,25921.00,8,5.49,7.02,1.9900,2,0,1,0,0
2,4,666,60,18542.00,-10,5.75,7.89,1.8200,3,0,0,1,0
3,1,749,48,18000.00,-10,4.89,4.14,1.3400,1,1,0,0,1
4,2,709,60,25000.00,-10,4.25,4.69,1.1100,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62421,2,703,48,10854.00,-10,4.55,5.89,1.1000,1,0,0,1,0
62422,1,733,60,24778.00,5,5.39,4.65,1.4200,2,0,1,0,0
62423,4,644,72,35000.00,-10,5.19,10.74,1.1700,1,1,0,0,0
62424,2,718,72,18716.47,-10,4.75,4.89,1.1000,1,1,0,0,1
62425,2,708,48,22800.00,6,5.29,5.43,1.1194,1,0,1,0,1

In [9]:
b.fillna(b.mean())

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,4,656,60,19600.00,-10,5.49,7.89,1.8000,1,1,0,0,0
1,2,708,60,25921.00,8,5.49,7.02,1.9900,2,0,1,0,0
2,4,666,60,18542.00,-10,5.75,7.89,1.8200,3,0,0,1,0
3,1,749,48,18000.00,-10,4.89,4.14,1.3400,1,1,0,0,1
4,2,709,60,25000.00,-10,4.25,4.69,1.1100,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62421,2,703,48,10854.00,-10,4.55,5.89,1.1000,1,0,0,1,0
62422,1,733,60,24778.00,5,5.39,4.65,1.4200,2,0,1,0,0
62423,4,644,72,35000.00,-10,5.19,10.74,1.1700,1,1,0,0,0
62424,2,718,72,18716.47,-10,4.75,4.89,1.1000,1,1,0,0,1
62425,2,708,48,22800.00,6,5.29,5.43,1.1194,1,0,1,0,1

In [10]:
a.drop_duplicates()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [11]:
b.drop_duplicates()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,4,656,60,19600.00,-10,5.49,7.89,1.8000,1,1,0,0,0
1,2,708,60,25921.00,8,5.49,7.02,1.9900,2,0,1,0,0
2,4,666,60,18542.00,-10,5.75,7.89,1.8200,3,0,0,1,0
3,1,749,48,18000.00,-10,4.89,4.14,1.3400,1,1,0,0,1
4,2,709,60,25000.00,-10,4.25,4.69,1.1100,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62421,2,703,48,10854.00,-10,4.55,5.89,1.1000,1,0,0,1,0
62422,1,733,60,24778.00,5,5.39,4.65,1.4200,2,0,1,0,0
62423,4,644,72,35000.00,-10,5.19,10.74,1.1700,1,1,0,0,0
62424,2,718,72,18716.47,-10,4.75,4.89,1.1000,1,1,0,0,1
62425,2,708,48,22800.00,6,5.29,5.43,1.1194,1,0,1,0,1

In [16]:
a.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [17]:
b.tail()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
62421,2,703,48,10854.00,-10,4.55,5.89,1.1000,1,0,0,1,0
62422,1,733,60,24778.00,5,5.39,4.65,1.4200,2,0,1,0,0
62423,4,644,72,35000.00,-10,5.19,10.74,1.1700,1,1,0,0,0
62424,2,718,72,18716.47,-10,4.75,4.89,1.1000,1,1,0,0,1
62425,2,708,48,22800.00,6,5.29,5.43,1.1194,1,0,1,0,1

In [46]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(b)
print(data_scaled)

[[1.         0.25842697 0.66666667 ... 0.         0.         0.        ]
 [0.33333333 0.45318352 0.66666667 ... 1.         0.         0.        ]
 [1.         0.29588015 0.66666667 ... 0.         1.         0.        ]
 ...
 [1.         0.21348315 1.         ... 0.         0.         0.        ]
 [0.33333333 0.4906367  1.         ... 0.         0.         1.        ]
 [0.33333333 0.45318352 0.33333333 ... 1.         0.         1.        ]]

In [47]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_scaled = scaler.fit_transform(b)
print(data_scaled)

[[ 1.9723857  -1.57670235  0.2874192  ... -0.54176399 -0.5001702
  -0.53114152]
 [ 0.07158527 -0.41891867  0.2874192  ...  1.84582222 -0.5001702
  -0.53114152]
 [ 1.9723857  -1.35405164  0.2874192  ... -0.54176399  1.99931945
  -0.53114152]
 ...
 [ 1.9723857  -1.8438832   1.35777836 ... -0.54176399 -0.5001702
  -0.53114152]
 [ 0.07158527 -0.19626796  1.35777836 ... -0.54176399 -0.5001702
   1.88273738]
 [ 0.07158527 -0.41891867 -0.78293997 ...  1.84582222 -0.5001702
   1.88273738]]

In [31]:
b["Amount"] = np.log(b["Amount"])
result=np.log(b["Amount"])
print(result)

0       -0.187631
1       -0.173138
2       -0.190604
3       -0.192207
4       -0.174970
           ...
62421   -0.221101
62422   -0.175423
62423   -0.158407
62424   -0.190100
62425   -0.179692
Name: Amount, Length: 62426, dtype: float64

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [32]:
pd.cut(b["Amount"], bins=5)

0        (0.566, 0.893]
1        (0.566, 0.893]
2        (0.566, 0.893]
3        (0.566, 0.893]
4        (0.566, 0.893]
              ...
62421    (0.566, 0.893]
62422    (0.566, 0.893]
62423    (0.566, 0.893]
62424    (0.566, 0.893]
62425    (0.566, 0.893]
Name: Amount, Length: 62426, dtype: category
Categories (5, interval[float64, right]): [(-0.744, -0.415] < (-0.415, -0.0882] < (-0.0882, 0.239] <
                                           (0.239, 0.566] < (0.566, 0.893]]